@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Home Page of the website of the Green School. This is the part of the lab assignemnt of the ASP.NET Core. In this website, the school can manage all the data of thier students and professors.</a>.</p>
</div>
